<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <script src="resources/jquery.min.js"></script>
    <script src="resources/popper.min.js"></script>
    <script src="resources/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/style.css">
    <title>{% for adm in info %} {{ adm.pagename }} {% endfor %}v.0.1</title>
</head>
<body>
    <h1>{{ teams[0].name }}</h1>
    <div class="container" align="center">
            {% for adm in info %}
            <img src="resources/{{ adm.pagelogo }}" class="panelLogo">
            <h1 class="panelName"> {{ adm.pagename }} </h1> 
            {% endfor %}
        <div class="row">
            <div class="col">
                {% for match in matches %}
                    <table class="matchbox">
                        <tr>
                            <td><img src="resources/img/{{match.teams[0].name}}.png" class="teamPictureFrontpage"></td>
                            <td><a href="/match.php?id={{loop.index0}}" class="matchText">{{ match.teams[0].name }} vs {{ match.teams[1].name }}</a></td>
                            <td><img src="resources/img/{{match.teams[1].name}}.png" class="teamPictureFrontpage"></td>
                        </tr>
                    </table>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>