<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="resources/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="resources/style.css">
    <title>{{ match.teams[0].name }} vs {{ match.teams[1].name }}</title>
</head>
<body>

<div class="devLeft">
    <img src="resources/img/{{match.teams[0].name}}.png" class="holdbillede">
    <br>
    <button class="btn btn-success">TACTICAL</button>
    <button class="btn btn-danger">TACTICAL</button>
</div>
<div class="devCenter">
    <h3 class="teamtext">{{ match.teams[0].name }} vs {{ match.teams[1].name }}</h3>
    <h5 >{{ match.teams[0].name }} has currently a TACTICAL PAUSE</h5>
    <button class="btn btn-success">TECH</button>
    <button class="btn btn-danger">TECH</button>
</div>
<div class="devRight">
    <img src="resources/img/{{match.teams[1].name}}.png" class="holdbillede">
    <br>
    <button class="btn btn-success">TACTICAL</button>
    <button class="btn btn-danger">TACTICAL</button>
</div>


</html>